# Пример синтаксиса: WORKERS=http://worker1:4000,http://worker2:4000,http://worker3:4000
# Порт указывается в index.js + в dockerfile
# Домен совпадает с именем контейнера в docker-compose.yml
WORKERS=
WORKERS_QUEUES=
PORT=
MONGO_URI=
DB_NAME=
RABBIT_URI=
ANSWER_QUEUE=
STATUS_QUEUE=
TASK_QUEUE=