# Пример синтаксиса: MANAGER=http://manager:3000
# Порт указывается в index.js + в dockerfile
# Домен совпадает с именем контейнера в docker-compose.yml
MANAGER=
PORT=
RABBIT_URI=
TASK_QUEUE=
ANSWER_QUEUE=
STATUS_QUEUE=